DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=attendance_system
DB_USER=app_user
DB_PASS=app_password_local_dev

JWT_SECRET=change-this-to-a-long-random-string
JWT_TTL_SECONDS=28800

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MAIL_FROM=sudinhr1@gmail.com
MAIL_FROM_NAME=Abhimo Technologies Private Limited

MAIL_DRIVER=smtp
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sudinhr1@gmail.com
SMTP_PASS=nwgjtwbvqktldzou

APP_ENV=local

EXPECTED_START_TIME=09:30:00